In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st
import numpy as np

In [8]:
candy_data_csv = "/users/nickvoltin/Project_1/Resources/Candy_Sales.csv"
candy_sales_df=pd.read_csv(candy_data_csv)

In [ ]:
# Clean Data

In [ ]:
# Visualizations (2 per question = 12)

In [ ]:
# Which Season Wins (Jose)

In [9]:
# Trends over time (Nicholas)
candy_sales_df["Order Date"] = pd.to_datetime(candy_sales_df["Order Date"])
candy_sales_df["Year"] = candy_sales_df["Order Date"].dt.year
division_year_summary = candy_sales_df.groupby(["Division", "Year"]).agg(
    Total_Sales=("Sales", "sum"),
    Total_Gross_Profit=("Gross Profit", "sum")
).reset_index()
division_year_summary

     Division  Year  Total_Sales  Total_Gross_Profit
0   Chocolate  2021     26356.36            17759.68
1   Chocolate  2022     27763.20            18711.66
2   Chocolate  2023     34193.38            23090.44
3   Chocolate  2024     43379.96            29262.84
4       Other  2021      2549.25             1155.45
5       Other  2022      1207.75              479.55
6       Other  2023      2461.75             1103.95
7       Other  2024      3444.50             1594.50
8       Sugar  2021        47.94               27.24
9       Sugar  2022        31.70               17.85
10      Sugar  2023       204.19              146.19
11      Sugar  2024       143.65               93.45

In [ ]:
# Which type of candy dominates (Eric)

In [ ]:
# Regional Findings (Bianca)

In [ ]:
# Volume Vs. Cost (Aidan)

In [ ]:
# Which Company is most successful (Yvette)